<section id="aside-col" class="flex">
    <aside class="flex aside-searcher">
        <div class="flex column">
            <h3 class="h-reset h3-my">Популярные&nbsp;теги</h3>
            <ol class="lst-reset flex wrap-lst">
                {% for tag in top %}
                <li class="wrap-items"><a href="{% url 'home:tag' pk=tag.pk %}" class="link-reset question-link">{{ tag.name }}</a></li>
                {% endfor %}
            </ol>
        </div>
        <div class="flex column">
            <h3 class="h-reset h3-my">Лучшие&nbsp;пользователи</h3>
            <ol class="lst-reset">
                <li><a href="#" class="link-reset question-link">Mr. Freeman</a></li>
                <li><a href="#" class="link-reset question-link">Vladimir Pupkin</a></li>
                <li><a href="#" class="link-reset question-link">Postgres</a></li>
                <li><a href="#" class="link-reset question-link">Django</a></li>
                <li><a href="#" class="link-reset question-link">Firefox</a></li>
                <li><a href="#" class="link-reset question-link">ML</a></li>
            </ol>
        </div>
    </aside>
</section>