{% load static %}
{% load profile_finder %}
<header class="header">
    <div class="header-wrapper flex">
        <div class="main-logo col-slave">
            <a href="{% url 'home:index' %}" class=" link-reset">
                <img alt="QAntilope logo" src="{% get_media_prefix %}main/logo.svg" class="img-logo">
            </a>
        </div>
        <div class="col-main">
            <form class="flex main-search-form default-gap" method="get" action="{% url 'home:index' %}">
                <input type="text" placeholder="Найдётся всё" name="question-to-search" class="main-input-field">
                <a class="link-reset main-btn-search" href="{% url 'home:ask' %}">спросить</a>
            </form>
        </div>
        <div class="col-slave flex profile-block">
            {% if request.user.is_authenticated %}
                <a href="{% url 'home:settings' pk=request.user.pk %}" class="link-reset">
                    <img class="profile-img" alt="Profile logo"
                         src="{% get_media_prefix %}/{{ request.user.pk|avatar }}">
                </a>
                <div class="flex column username-wrapper">
                    <div>
                        <a href="{% url 'home:settings' pk=request.user.pk %}" class="link-reset">{{ request.user.username }}</a>
                    </div>
                    <div class="flex profile-controller">
                        <a href="{% url 'home:settings' pk=request.user.pk %}" class="link-reset profile-controller-link">настройки</a>
                        <a href="{% url 'home:logout' %}" class="link-reset profile-controller-link">выйти</a>
                    </div>
                </div>
            {% else %}
                <div class="flex default-gap">
                    <a href="{% url 'home:login' %}" class="link-reset not-authenticated-link">войти</a>
                    <a href="{% url 'home:register' %}" class="link-reset not-authenticated-link">регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>