{% extends 'ask/base.html' %}

{% block meta %}{% endblock %}

{% block title %}QAlboran | Главная{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/aside-col.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/question-card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/index.css' %}">
{% endblock %}

{% block body %}
    <main class="flex main-block">
        <section id="main-col" class="flex column">
            <div class="flex h-wrapper">
                <h1 class="h-reset h1-my"><a href="{% url 'home:hot' %}" class="link-reset header-link">Топ вопросы</a></h1>
                <h2 class="h-reset h2-my"><a href="{% url 'home:index' %}" class="link-reset header-link">Новые вопросы</a></h2>
            </div>
            <div class="flex questions-block column">
                {% for i in 'ABCD' %}
                   {% include 'ask/ask-card.html' %}
                {% endfor %}

            </div>

            <div class="flex pagination default-gap">
                <button class="btn-reset pagination-btn current-page-btn">1</button>
                <button class="btn-reset pagination-btn">2</button>
                <button class="btn-reset pagination-btn">3</button>
                <button class="btn-reset pagination-btn" disabled>...</button>
                <button class="btn-reset pagination-btn">53</button>
            </div>
        </section>
        {% include 'ask/aside-col.html' %}
    </main>
{% endblock %}