<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Акинатор</title>
</head>
<body>
{% load static %}
{% include 'app/templates/menu.html' %}
<h1>Акинатор - бесплатно</h1>
<button onclick="displayQuestion()">Начать игру</button>
<div>
    <h2 id="question">В каком году была битва?</h2>
    {% csrf_token %}
    <select id="year" name="year">
        <option name="1945" value="1945">1945</option>
        <option name="1944" value="1944">1944</option>
        <option name="1943" value="1943">1943</option>
        <option name="1942" value="1942">1942</option>
        <option name="1941" value="1941">1941</option>
    </select>
    <button type="submit" class="next-button">next</button>
</div>
<script src="{% static 'app/js/app.js' %}" type="text/javascript"></script>
</body>
</html>
