{% extends 'ask/base.html' %}

{% block meta %}{% endblock %}

{% block title %}QAlboran | Регистрация{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/aside-col.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/form.css' %}">
{% endblock %}

{% block body %}
    <main class="flex main-block">
        <section id="main-col" class="flex column">
            <h1 class="h-reset main-header">Выход</h1>
            {% include 'ask/forms/logout-form.html' %}
        </section>
        {% include 'ask/aside-col.html' %}
    </main>
{% endblock %}