{% extends 'ask/base.html' %}

{% block meta %}{% endblock %}

{% block title %}How to correct compare two double in C++?{% endblock %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/aside-col.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/question-card.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/pagination.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ask/css/question.css' %}">
{% endblock %}

{% block body %}
    <main class="flex main-block main-margin">
        <section id="main-col" class="flex column">
            <article class="flex question-article default-gap">
                <div class="flex avatar-col col-slave column default-gap">
                    <img alt="Аватар пользователя" class="profile-img"
                         src="{% get_media_prefix %}ask/index/default_avatar.png">
                    <input type="number" min="-999999" max="999999" value="5" class="number-input">
                </div>
                <div class="flex content-col col-main column">
                    <h1 class="h-reset sec-header">
                        How to correct compare two double in C++?
                    </h1>
                    <div class="question-description">
                        <p>
                            Lorem ipsum odor amet, consectetuer adipiscing elit. Duis urna eros suscipit,
                            natoque
                            dis viverra aliquet. Tempus nisl parturient penatibus purus magna aliquam? Viverra
                            mi
                            per cubilia vel at duis ad vel dis. Lectus sapien rutrum nascetur semper litora
                            rutrum.
                            Ligula phasellus sit curabitur faucibus et vitae.
                        </p>
                    </div>
                    <div class="flex default-gap">
                        <div>
                            Tags:
                        </div>
                        <div class="tags-lst-block">
                            <ol class="lst-reset flex tags-lst">
                                <li><a href="{% url 'home:tag' %}" class="link-reset question-link">blablabla</a></li>
                                <li><a href="{% url 'home:tag' %}" class="link-reset question-link">multithreading</a>
                                </li>
                                <li><a href="{% url 'home:tag' %}" class="link-reset question-link">threads</a></li>
                            </ol>
                        </div>

                    </div>
                </div>
            </article>
            <section class="answers-section flex default-gap column">
                <h2 class="h-reset sec-header">Ответы</h2>
                {% for i in 'abcd' %}
                    <article class="answer flex default-gap">
                        <div class="flex avatar-col col-slave column default-gap">
                            <img alt="Аватар пользователя" class="profile-img"
                                 src="{% get_media_prefix %}ask/index/default_avatar.png">
                            <input type="number" min="-999999" max="999999" value="5" class="number-input">
                        </div>
                        <div class="flex column">
                            <p class="answer-description">
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Duis urna eros suscipit,
                                natoque
                                dis viverra aliquet. Tempus nisl parturient penatibus purus magna aliquam? Viverra
                                mis
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Duis urna eros suscipit,
                                natoque
                                dis viverra aliquet. Tempus nisl parturient penatibus purus magna aliquam? Viverra
                                mis
                                Lorem ipsum odor amet, consectetuer adipiscing elit. Duis urna eros suscipit,
                                natoque
                                dis viverra aliquet. Tempus nisl parturient penatibus purus magna aliquam? Viverra
                                mis
                            </p>
                            <div>
                                <input type="checkbox" id="correct_{{ i }}">
                                <label for="correct_{{ i }}">правильно</label>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                <div class="flex pagination default-gap">
                    <button class="btn-reset pagination-btn current-page-btn">1</button>
                    <button class="btn-reset pagination-btn">2</button>
                    <button class="btn-reset pagination-btn">3</button>
                    <button class="btn-reset pagination-btn" disabled>...</button>
                    <button class="btn-reset pagination-btn">53</button>
                </div>
            </section>

            <section class="user-answer-section">
                <form class="flex right-align-flex column" method="post" action="#">
                    <label>
                        <textarea name="user-answer" placeholder="Поделитесь Вашим ответом здесь"
                                  class="full-wide-textarea"></textarea>
                    </label>
                    <button class="btn-reset answer-btn" type="submit">Ответить</button>
                </form>
            </section>

        </section>
        {% include 'ask/aside-col.html' %}
    </main>
{% endblock %}