.main-header {
    text-transform: capitalize;
    margin-bottom: 30px;
}

/* form */
.ask-form {
    width: 100%;
    gap: 16px;
}

.ask-field-wrapper {
    padding-top: var(--primary-padding);
}

.ask-label {
    font-weight: 500;
    font-size: 17px;
    width: 15%;
}

.ask-field {
    width: 100%;
    padding: var(--primary-padding);
    border-radius: var(--primary-border-radius);
    border: 1px solid #f2f3f5;
}

.ask-textarea {
    resize: none;
    overflow-x: scroll;
    overflow-y: scroll;
    min-height: 200px;
}

.ask-btn {
    padding: var(--primary-padding);
    border-radius: var(--primary-border-radius);
    border: 1px solid #00FF86;
    background-color: #38FF5D;
    width: fit-content;
    margin-left: auto;
    --webkit-transition: 128ms all ease-in-out;
    transition: 128ms all ease-in-out;
}

.ask-btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 2px 1px 10px #38FF5D;
}