<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'qalboran/css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'qalboran/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'qalboran/css/footer.css' %}">

    {% block styles %}{% endblock %}
</head>
<body>
{% include 'qalboran/header.html' %}

{% block body %}{% endblock %}

{% include 'qalboran/footer.html' %}

{% block end-body-scripts %}{% endblock %}
</body>
</html>