{% load static %}
<header class="header">
    <div class="header-wrapper flex">
        <div class="main-logo col-slave">
            <a href="{% url 'home:index' %}" class=" link-reset">
                <img alt="QAntilope logo" src="{% get_media_prefix %}main/logo.svg" class="img-logo">
            </a>
        </div>
        <div class="col-main">
            <form method="get" action="{% url 'home:index' %}">
                <input type="text" placeholder="Найдётся всё" name="question-to-search" class="main-input-field">
                <button type="submit" class="btn-reset main-btn-search">спросить</button>
            </form>
        </div>
        <div class="col-slave flex profile-block">
            {% if request.user.is_authenticated %}
                <a href="#" class="link-reset">
                    <img class="profile-img" alt="Profile logo"
                         src="{% get_media_prefix %}qantilope/index/default_avatar.png">
                </a>
                <div class="flex column username-wrapper">
                    <div>
                        <a href="#" class="link-reset">Михаил Марков</a>
                    </div>
                    <div class="flex profile-controller">
                        <a href="#" class="link-reset profile-controller-link">настройки</a>
                        <a href="#" class="link-reset profile-controller-link">выйти</a>
                    </div>
                </div>
            {% else %}
                <div class="flex default-gap">
                    <a href="#" class="link-reset not-authenticated-link">войти</a>
                    <a href="#" class="link-reset not-authenticated-link">регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>
</header>