.h-wrapper {
    gap: 30px;
    align-items: flex-end;
    margin-bottom: 30px;
}

.header-link {
    --webkit-transition: 128ms all ease-in-out;
    transition: 128ms all ease-in-out;
}

.header-link:hover {
    cursor: pointer;
    border-bottom: 1px solid black;;
}

.h1-my {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
}

.h2-my {
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.h3-my {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 8px;
}