<form class="flex column ask-form default-gap" method="post" action="#">
    <div class="flex ask-field-wrapper">
        <label class="ask-label" for="ask-title">Логин</label>
        <input class="ask-field" id="ask-title" type="text" placeholder="Разрешено использовать: A-Z, a-z, 0-9 и _" required>
    </div>

    <div class="flex ask-field-wrapper">
        <label class="ask-label" for="ask-description">Вопрос</label>
        <input class="ask-field" id="ask-title" type="email" placeholder="Разрешено использовать: A-Z, a-z, 0-9 и _" required>
    </div>

    <div class="flex ask-field-wrapper">
        <label class="ask-label" for="ask-tags">Теги</label>
        <input class="ask-field" id="ask-tags" type="text" placeholder="Теги, разделенные запятой. Например: Python, Django">
    </div>

    <button type="submit" class="btn-reset ask-btn">Опубликовать</button>

</form>