<form class="flex column user-form default-gap" method="post" action="#">
    <div class="flex column ask-field-wrapper">
        <label class="user-label" for="ask-title">Логин</label>
        <ol class="lst-reset help-lst help-text">
            <li>Разрешено использовать: A-Z, a-z, 0-9 и _</li>
            <li>Длина: от 8 до 32 символов</li>
            <li>Будет виден только Вам</li>
        </ol>
        <input class="ask-field" id="ask-title" type="text" placeholder="Ваш логин" required>
    </div>

    <div class="flex column ask-field-wrapper">
        <label class="user-label" for="ask-description">Почта</label>
        <input class="ask-field" id="ask-title" type="email" placeholder="example@domain.ru" required>
    </div>

    <div class="flex column ask-field-wrapper">
        <label class="user-label" for="ask-tags">Никнейм</label>
        <ol class="lst-reset help-lst help-text">
            <li>Разрешено использовать: A-Z, a-z, 0-9 и _</li>
            <li>Длина: от 8 до 32 символов</li>
            <li>Будет виден всем пользователям</li>
        </ol>
        <input class="ask-field" id="ask-tags" type="text" placeholder="Разрешено использовать: A-Z, a-z, 0-9 и _">
    </div>

    <div class="flex column ask-field-wrapper">
        <label class="user-label" for="ask-tags">Пароль</label>
        <ol class="lst-reset help-lst help-text">
            <li>Разрешено использовать: A-Z, a-z, 0-9 и спец. символы</li>
            <li>Длина: от 8 до 64 символов</li>
            <li>Хотя бы один специальный символ: &dollar;#!&amp;.&comma;&dash;_+="</li>
        </ol>
        <input class="ask-field" id="ask-tags" type="password" placeholder="Придумайте пароль">
    </div>

    <div class="flex column ask-field-wrapper">
        <label class="user-label" for="ask-tags">Подтверждение пароля</label>
        <input class="ask-field" id="ask-tags" type="password" placeholder="Введите пароль ещё раз">
    </div>

    <div class="flex column ask-field-wrapper">
        <label class="user-label" for="ask-tags">Загрузка аватара</label>
        <input class="ask-field" id="ask-tags" type="file" accept="image/png, image/gif, image/jpeg">
    </div>

    <button type="submit" class="btn-reset ask-btn">Продолжить</button>

</form>