<form class="flex column ask-form default-gap" method="post" action="#">
    <div class="flex ask-field-wrapper">
        <label class="ask-label" for="ask-title">Название</label>
        <input class="ask-field" id="ask-title" type="text" placeholder="Кратко опишите Ваш вопрос" required>
    </div>

    <div class="flex ask-field-wrapper">
        <label class="ask-label" for="ask-description">Вопрос</label>
        <textarea class="ask-field ask-textarea" id="ask-description" placeholder="Подробно распишите Вашу проблему" required></textarea>
    </div>

    <div class="flex ask-field-wrapper">
        <label class="ask-label" for="ask-tags">Теги</label>
        <input class="ask-field" id="ask-tags" type="text" placeholder="Теги, разделенные запятой. Например: Python, Django">
    </div>

    <button type="submit" class="btn-reset ask-btn">Опубликовать</button>

</form>