<form class="flex column user-form default-gap" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="flex column error-field">
            {% for err in form.non_field_errors %}
                <p>
                    {{ err }}
                </p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="flex column ask-field-wrapper">
        {% if form.email.errors %}
            <div class="flex column error-field">
                {% for err in form.email.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label class="user-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        {{ form.email }}
    </div>

    <div class="flex column ask-field-wrapper">
        {% if form.username.errors %}
            <div class="flex column error-field">

                {% for err in form.username.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label class="user-label" for="{{ form.username.id_for_label }}">{{ form.username.label|title }}</label>
        <ol class="lst-reset help-lst help-text">
            <li>Разрешено использовать: A-Z, a-z, 0-9 и _</li>
            <li>Длина: от 8 до 32 символов</li>
            <li>Будет виден всем пользователям</li>
        </ol>
        {{ form.username }}
    </div>

    <div class="flex column ask-field-wrapper">
        {% if form.password.errors %}
            <div class="flex column error-field">
                {% for err in form.password.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label class="user-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
        <ol class="lst-reset help-lst help-text">
            <li>Разрешено использовать: A-Z, a-z, 0-9 и спец. символы</li>
            <li>Длина: от 8 до 64 символов</li>
            <li>Хотя бы один специальный символ: &dollar;#!&amp;.&comma;&dash;_+="</li>
        </ol>
        {{ form.password }}
    </div>

    <div class="flex column ask-field-wrapper">
        {% if form.password_confirm.errors %}
            <div class="flex column error-field">
                {% for err in form.password_confirm.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label class="user-label"
               for="{{ form.password_confirm.id_for_label }}">{{ form.password_confirm.label }}</label>
        {{ form.password_confirm }}
    </div>

    <div class="flex column ask-field-wrapper">
        {% if form.avatar.errors %}
            <div class="flex column error-field">
                {% for err in form.avatar.errors %}
                    <p>{{ err }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <label class="user-label" for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}</label>
        {{ form.avatar }}
    </div>

    <button type="submit" class="btn-reset ask-btn">Продолжить</button>

</form>