<form class="flex column user-form default-gap" method="post" action="#">
    <div class="flex column error-field">
        <p>
            Неверный пароль.
        </p>
    </div>
    <div class="flex ask-field-wrapper default-gap">
        <label class="login-label" for="ask-title">Логин</label>
        <input class="ask-field" id="ask-title" type="text" placeholder="Ваш логин" required>
    </div>

    <div class="flex ask-field-wrapper default-gap">
        <label class="login-label" for="ask-tags">Пароль</label>
        <input class="ask-field" id="ask-tags" type="password" placeholder="Ваш пароль">
    </div>

    <button type="submit" class="btn-reset ask-btn">Войти</button>

</form>