.pagination {
    justify-content: center;
}

.pagination-btn {
    padding: var(--primary-padding);
    border: 1px solid #f2f3f5;
    border-radius: var(--primary-border-radius);
}

.pagination-btn:not([disabled]):hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px #BAD7F5;
}

.current-page-btn {
    background-color: #BAD7F5;
}

.link-disabled {
    padding-left: 3px;
    padding-right: 3px;
    color: #888888;
}

.link-disabled:hover {
    cursor: default;
}